<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userlist</title>
</head>
<body>
<h1 th:text="#{userlist.header}">Users:</h1>
<form th:action="@{/logout}" th:method="POST">
    <input th:type="submit" th:value="#{logout.btntext}">
</form>
<form th:action="@{/users/adduser}" th:method="GET">
    <input type="submit" th:value="#{adduser.buttonText}">
</form>
<form th:action="@{/templates/users}" th:method="POST">
    <table>
        <thead>
        <tr>
            <td>
                <h2 th:text="#{userlist.search.header}">Usersearch:</h2>
            </td>
        </tr>
        </thead>
        <tr>
            <td>
                <input type="text" th:name="searchfield">
            </td>
            <td>
                <input type="submit" th:value="#{userlist.search.button}"/>
            </td>
        </tr>


    </table>
</form>

<table th:object="${userlist}">
    <thead>
    <tr>
        <th th:text="#{adduser.form.loginname}">
            Loginname
        </th>
        <th th:text="#{adduser.form.fullname}">
            Fullname
        </th>
        <th th:text="#{adduser.activestate}">
            Active
        </th>
    </tr>
    <tr th:if="${#lists.size(userlist) > 0}" th:each="user, status: ${userlist}">
        <td th:text="${user.getLoginname()}">Loginname</td>
        <td th:text="${user.getFullname()}"> Fullname</td>
        <td th:text="${user.getActive()}"> Active</td>
        <td>
            <img th:src="@{'/users/image/'+${user.getLoginname()}}"/>
        </td>
        <td>
            <form th:action="@{'/users/edituser/' + ${status.index}}" METHOD="GET">
                <input type="submit" th:value="#{edituser.button}"/>
            </form>
        </td>
        <td>
            <form th:action="@{'/users/removeuser/' + ${status.index}}" METHOD="POST">
                <input type="submit" th:value="#{removeuser.button}"/>
            </form>
        </td>
    </tr>
    </thead>
</table>
</body>
</html>