<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>
<body>
<h1 th:text="#{adduser.header}">Neuen Nutzer hinzufügen</h1>
<form method="POST" th:action="@{/adduser}">
    <table>
        <tr>
            <td>
                <input type="text" name="loginname"/>
            </td>
            <td>
                <label th:text="#{adduser.form.loginname}">
                    Loginname
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="fullname"/>
            </td>
            <td>
                <label th:text="#{adduser.form.fullname}">
                    fullname
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password"/>
            </td>
            <td>
                <label th:text="#{adduser.form.password}">
                    Password
                </label>
            </td>
        </tr>
    </table>
    <input type="submit" th:value="#{form.submitButton}"/>
</form>
</body>
</html>