<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .fehleryo {
            box-shadow: 0 0 5px red;
        }
    </style>
</head>
<body>
<h1 th:text="#{edituser.header}">Nutzer bearbeiten <span th:text="*{editUser.loginname}"> Username</span></h1>
<form method="POST" th:action="@{/users/edituser}" th:object="${editUser}" enctype="multipart/form-data">
    <table>
        <tr>
            <td>
                <input type="text" name="loginname" th:field="*{loginname}" th:errorclass="fehleryo"/>
            </td>
            <td>
                <label th:text="#{adduser.form.loginname}">
                    Loginname
                </label>
            </td>
            <td>
                <span th:if="${#fields.hasErrors('loginname')}" th:errors="*{loginname}">Usernamefehler</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="fullname" th:field="*{fullname}"/>
            </td>
            <td>
                <label th:text="#{adduser.form.fullname}">
                    fullname
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="password" th:name="*{password}" th:value="*{password}"
                       th:field="*{password}"/>
            </td>
            <td>
                <label th:text="#{adduser.form.password}">
                    Password
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" th:name="picture" accept="image/*" th:value="#{adduser.uploadpicbtn}"/>
            </td>
        </tr>
    </table>
    <input type="submit" th:value="#{form.submitButton}"/>
</form>
</html>