<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <style>
        .fehleryo {
            box-shadow: 0 0 5px red;
        }
        select{
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Neue Sichtung erfassen</h1>
<div>
    <form action="#" method="POST"
          th:action="@{/sichtung}" th:method="POST" th:object="${sichtungsform}">
        <table>
            <tr>
                <div>
                    <label>
                        <td>
                            <span>Finder</span>
                        </td>
                        <td>
                            <input type="text" th:field="*{finder}" th:errorclass="fehleryo"/>
                        </td>
                        <td>
                            <span th:if="${#fields.hasErrors('finder')}" th:errors="*{finder}">Finderfehler</span>
                        </td>

                    </label>
                </div>
            </tr>
            <tr>
                <div>
                    <label>
                        <td>
                            <span>Fundort</span>
                        </td>
                        <td>
                            <input type="text" th:field="*{place}" th:errorclass="fehleryo"/>
                        </td>
                        <td>
                            <span th:if="${#fields.hasErrors('place')}" th:errors="*{place}">Ortfehler</span>
                        </td>

                    </label>
                </div>
            </tr>
            <tr>
                <div>
                    <label>
                        <td>
                            <span>Datum</span>
                        </td>
                        <td>
                            <input type="date" th:field="*{date}" th:errorclass="fehleryo"/>
                        </td>
                        <td>
                            <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Datumsfehler</span>
                        </td>
                    </label>
                </div>
            </tr>
            <tr>
                <div>
                    <label>
                        <td>
                            <span>Beschreibung</span>
                        </td>
                        <td>
                            <input type="text" th:field="*{description}" th:errorclass="fehleryo"/>
                        </td>
                        <td>
                        <span th:if="${#fields.hasErrors('description')}"
                              th:error="*{description}">Beschreibungsfehler</span>
                        </td>
                    </label>
                </div>
            </tr>

            <div th:each="time:*{radiobtns}">
                <tr>
                    <td>
                        <label>
                            <input type="radio" th:value="${time}" th:field="*{day_time}"/>
                        </label>
                        <span th:text="${time}"> Text</span>
                    </td>
                </tr>
            </div>
            <tr>
                <td>
                    <span>Bewertung</span>
                </td>
                <td>
                    <select th:field="*{rating}">
                        <option th:each="cr: *{ratings}" th:text="${#strings.repeat('*',cr)}" th:value="${cr}"
                                th:errorclass="fehleryo">Stern
                        </option>
                    </select>
                </td>
                <td>
                    <span th:if="${#fields.hasErrors('rating')}" th:error="*{rating}">Bewertungsfehler</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <input type="submit" id="submit" value="Abschicken" style="position: center"/>
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <h1>Bisherige Sichtungen:</h1>
    <table>
        <thead>
        <tr>
            <th>Datum</th>
            <th style="">Fundort</th>
            <th style="">Finder</th>
            <th style="">Beschreibung</th>
            <th>Tageszeit</th>
            <th>Bewertung</th>
            <th style=""> [edit]</th>
        </tr>
        </thead>
        <tr th:if="${#lists.size(sichtungen) > 0}" th:each="sichtung, status: ${sichtungen.getList()}">
            <td th:text="${sichtung.getDate()}"> Datum</td>
            <td th:text="${sichtung.getPlace()}">Fundort</td>
            <td th:text="${sichtung.getFinder()}">Finder</td>
            <td th:text="${sichtung.getDescription()}">Beschreibung</td>
            <td th:text="${sichtung.getDay_time()}">Tageszeit</td>
            <td th:text="${#strings.repeat('*',sichtung.getRating())}">Bewertung</td>
            <td><a th:href="@{'/sichtung/' + ${status.index}}">[edit]</a></td>
        </tr>
    </table>

</div>
</body>
</html>