<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
    </head>
    <body>
        <h1>Neue Sichtung erfassen</h1>
        <div style="width: 500px; align-items: center;">
        <form action="/sichtung" method="POST">
            <div style="display: inline-block; align-self: center;">
            <label for="finder">Finder</label> 
            <input type="text" id="finder" name="finder"/>
            </div>
            <div style="display: inline-block; align-self: center;">
            <label for="place"> Fundort</label> 
            <input type="text" id="place" name="place"/>
            </div>
            <div style="display: inline-block; align-self: center;">
                <label for="date">Datum</label> 
                <input type="text" id="date" name="date"/></div>
            <div style="align-self: center;">
                 <label for="desc">Beschreibung</label>    
                 <input type="text" id="desc" name="desc"/>
            </div>
            <div style="display: inline-block; align-self: baseline;"> 
                <input type="submit" id="submit" value="Abschicken" style="position: center"/>
            </div>
               
        </form>
    </div>
    <div>
        <h1>Bisherige Sichtungen:</h1>
        <table>
            <thead>
                <tr style="font-weight: bold;">Datum</span></tr>
            </thead>
        </table>
        
    </div>
    </body>
</html>