<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Userlist</title>
</head>
<body>
<h1 th:text="#{userlist.header}">Users:</h1>
<form th:action="@{/users/adduser}" th:method="GET">
    <input type="submit" th:value="#{adduser.buttonText}">
</form>

<table th:object="${userlist}">
    <thead>
    <tr>
        <th th:text="#{adduser.form.loginname}">
            Loginname
        </th>
        <th th:text="#{adduser.form.fullname}">
            Fullname
        </th>
        <th th:text="#{adduser.activestate}">
            Active
        </th>
    </tr>
    <tr th:if="${#lists.size(userlist) > 0}" th:each="user: ${userlist}">
        <td th:text="${user.getLoginname()}">Loginname</td>
        <td th:text="${user.getFullname()}"> Fullname</td>
        <td th:text="${user.getActive()}"> Active</td>
    </tr>
    </thead>
</table>
</body>
</html>